body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a,
a:hover,
a:visited {
  color: #0071bc;
}
.mapboxgl-map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -5;
}

#header {
  margin: 3vh auto;
  width: 90vw;
  padding: 2vh;
  z-index: 99;
  position: relative;
  text-align: center;
}
#footer {
  width: 100%;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

#hazardButton{
  z-index: 999;
  position: fixed;
  right: 24px;
  bottom: 24px;
  border-radius: 50px;
  width: 68px;
  height: 68px;
  background-color: #fafafa;

}

#hazardButton:focus {
  outline: none;
}

#hazardButton > img {
  width:90%;
}

#features {
  z-index: 99;
}

#covidDataInfo {
  position: fixed;
  z-index: 9999;
  top: 24px;
  right: 24px;
  min-width: 300px;
}

.text-row > * {
  margin: 4px;
}

.flex { 
  display: flex;

}

.baseline { 
  align-items: baseline;
}


.centered {
  width: 50vw;
  margin: 0 auto;
}

.lefty {
  width: 33vw;
  padding-left: 5vw;
}
.righty {
  width: 33vw;
  padding-left: 62vw;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-top: 10vh;
  padding-bottom: 50vh;
  opacity: 0.25;
}

.step.active {
  opacity: 0.95;
}

.card > div {
  padding: 25px 50px;
  line-height: 25px;
  font-size: 15px;
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  #features {
    width: 90vw;
    margin: 0 auto;
  }
}

.slide {
  padding-left: 0;
  /* padding: 0; */
  /* margin: 0; */
  width: 100%;
  min-height: 50vh;
}

.map-fixed {
  z-index: -1;
  position: fixed;
}

.chapter-dummy > div {
}

.chapter_date-dummy {
  background-color: #BDC1C6;
  padding: 8px;
  width: 33%;
}

.chapter_title-dummy {
  margin-top: 8px;
  background-color: #BDC1C6;
  padding: 12px;
  width: 66%;
  margin-bottom: 8px;
}

.chapter_text-dummy {
  margin-top: 4px;
  background-color: #BDC1C6;
  padding: 10px;
}